name: BGG Latest Play

on:
  schedule:
    - cron: '0 17 * * *'   # 毎日UTC 0時実行
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install requests
        run: pip install requests

      - name: Run script
        run: python fetch_plays.py
